.flipCard {
  height: 300px;
}

.points li {
  padding-left: 12px;
}

.points li::before {
  content: "-";
}

.flipCardInner {
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.flipCard:hover .flipCardInner {
  transform: rotateX(180deg);
}

.back,
.front {
  backface-visibility: hidden;
  box-sizing: border-box;
  width: 100%;
}

.back {
  transform: rotateX(180deg);
  font-size: min(1.5rem, 1.8vw);
}

@media (max-width: 767px) {
  .flipCard {
    height: 200px;
  }
  .back {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  .flipCard {
    height: 200px;
  }
  .back {
    font-size: 1.3rem;
  }
}
