.blueShapeLeft {
  position: absolute;
  top: 18%;
  right: 15%;
}

.blueShapeRight {
  position: absolute;
  top: 18%;
  left: 15%;
}

.diamondLeft {
  position: absolute;
  top: 30%;
  right: 10%;
}

.diamondRight {
  position: absolute;
  top: 30%;
  left: 10%;
}

.yellowShapeLeft {
  position: absolute;
  top: 50%;
  right: 10%;
}

.yellowShapeRight {
  position: absolute;
  top: 50%;
  left: 10%;
}


