.hero {
  background-image: url("../assets/gradient_3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3% 7%;
}

@media screen and (max-width : 768px) {
    .hero{
        padding: 6% 7%;
    }
}