.hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.points li {
  padding-left: 12px;
}

.points li::before {
  content: "-";
}

.blueShapeLeft {
  position: absolute;
  top: 12%;
  right: 15%;
}

.blueShapeRight {
  position: absolute;
  top: 12%;
  left: 15%;
}

.diamondLeft {
  position: absolute;
  top: 30%;
  right: 10%;
}

.diamondRight {
  position: absolute;
  top: 30%;
  left: 10%;
}

.whiteShapeLeft {
  position: absolute;
  top: 50%;
  right: 10%;
}

.whiteShapeRight {
  position: absolute;
  top: 50%;
  left: 10%;
}

.register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 70% 50%;
}

.flipCardInner {
  transition: transform 0.5s ease;
}

.flipCard:hover .flipCardInner {
  transform: rotateX(180deg);
}

.back,
.front {
  backface-visibility: hidden;
}

.back {
  transform: rotateX(180deg);
}
