@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Gotham Medium";
  src: url("./assets/fonts/GothamMedium.ttf");
}

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/Gotham-Bold.otf");
}

@font-face {
  font-family: "Gotham Book";
  src: url("./assets/fonts/GothamBook.ttf");
}

@font-face {
  font-family: "Gotham Light";
  src: url("./assets/fonts/Gotham-Light.otf");
}

html {
  scroll-padding-top: 76.8px;
}

body {
  font-family: "Gotham Medium";
}

/* Fonts */
.font-light {
  font-family: "Gotham Light";
}

.font-book {
  font-family: "Gotham Book";
}

.font-medium {
  font-family: "Gotham Medium";
}

.font-bold {
  font-family: "Gotham Bold";
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

.slick-dots button::before {
  color: #ff4c2e !important;
  width: 20px;
  height: 20px;
}

.mobile {
  height: calc(var(--vh, 1vh) * 100 - 6rem);
  top: 6rem;
}

.min-h-screen {
  min-height: calc(var(--vh, 1vh) * 100 - 6rem);
  /* min-height: calc(100vh - 6rem); */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.active {
  color: #ff4c2e;
}

.marquee {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.marquee-inner {
  width: 100%;
}

.italic {
  white-space: nowrap;
  animation: marquee 40s linear infinite;
  animation-delay: -40s;
}

.italic span{
  padding-right: 15px;
}

.italic span::after{
  background-image: url("./assets/yellowdiamondshape.png");
  background-size: 20px 20px;
  padding-left: 12px;
  width: 20px;
  height: 20px;
  content: "";
  margin-left: 18px;
}

.italic:nth-child(2) {
  animation: marquee2 40s linear infinite;
  animation-delay: -20s;
}


@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-200%);
  }
}


.skills,
.langs {
  text-transform: uppercase;
  font-size: 4vw;
  display: inline-block;
  white-space: nowrap;
  animation: floatText 25s infinite linear;
  padding-left: 100%; /*Initial offset, which places the text off-screen*/
  color: #ada97d;
}

@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}
