@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Gotham";
  src: url("./GothamMedium.ttf");
}

body {
  font-family: "Gotham";
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 70%;
  }
}

.slick-dots button::before{
  color: #FF4C2E!important;
  width: 20px;
  height: 20px;
}

.mobile{
  height: calc(100vh - 5.5rem);
  top: 5.5rem;
}