@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: "Gotham";
  src: url("./GothamMedium.ttf");
}

body {
  font-family: "Gotham";
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 0.7rem;
  }
}
